{% extends 'base.html' %}

{% block content %}
  <form method="POST">
    <div class="container">
      <label for="Username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="Username" required>

      <label for="Password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="Password" required>

      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="Remember"> Remember me
      </label>
      <p>Don't have an account? Register <a href="{{ url_for('register')}}">here</a></p>
    </div>
  </form>
{% endblock%}
